.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}
 
.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid darkcyan;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
 
.navigationButtons a:hover {
  color: white;
  background-color: darkcyan;
}
 
.navigationActive a {
  color: white;
  background-color: darkcyan;
}
 
.navigationDisabled a {
  color: grey;
  background-color: darkcyan;
}